header{background-color: rgb(148, 190, 226);}
body{background-color: rgb(215, 70, 62);}
h1{color: rgb(35, 3, 40);}
footer{background-color: blueviolet;}
img{display: flex; flex-direction: column; justify-content: flex-start;}